<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Wellcome to PySimpleIp!</h1>
    </header>

    <main style="display: flex;">
        <form action="/" method="post">
            <input type="text" name="ip" placeholder="Insert a IP adress" value="">
            <button type="submit">query</button>
        </form>
        <div>
            {{ip_to_show}}
        </div>
    </main>

    <footer>
        <h3>created by Murilo R.B Silva</h3>
        <a href="https://github.com/MuriloRyan">Github</a>
    </footer>
</body>
</html>